<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXJ1cPj873Kl20uLnz7Gd0lBl3EM7Gcdo</string>
	<key>GCM_SENDER_ID</key>
	<string>487078902079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyGroup</string>
	<key>PROJECT_ID</key>
	<string>sb-hacks-studygroup</string>
	<key>STORAGE_BUCKET</key>
	<string>sb-hacks-studygroup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487078902079:ios:47bb3b22d2334692137b8a</string>
</dict>
</plist>